extends layout

block content
  form(method="POST", action="/", id="loginForm")
    h1 THE NET 
    input(type="text", name="login", class="cyberpunk-input", maxlength="6", inputmode="numeric")
    br
    br
    input(type="submit", value="LOG IN", class="cyberpunk-button")
