extends layout

block content
  form(method="POST", action="/", id="loginForm")
    h1 THE
      br
      | NET 
    input(type="text", name="login", class="wide", maxlength="6", inputmode="numeric", placeholder="000000")
    br
    br
    input(type="submit", value="LOG IN", class="wide")
